force-app/main/default/flows/Patient_Lead_Status_Tracking_PAI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Current_Lead_Status</name>
        <label>Current Lead Status</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Not Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entered_Status_1</targetReference>
            </connector>
            <label>Status 1</label>
        </rules>
        <rules>
            <name>Status_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working - Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entered_Status_2</targetReference>
            </connector>
            <label>Status 2</label>
        </rules>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Disqualified</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
        <rules>
            <name>Converted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Lead_Status</name>
        <label>Prior Lead Status</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Current_Lead_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Lead</defaultConnectorLabel>
        <rules>
            <name>Prior_Status_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Not Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exited_Status_1</targetReference>
            </connector>
            <label>Prior Status 1</label>
        </rules>
        <rules>
            <name>Prior_Status_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working - Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exited_Status_2</targetReference>
            </connector>
            <label>Prior Status 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Patient Lead Status Tracking (PAI) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Lead Status Tracking (PAI)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Entered_Status_1</name>
        <label>Entered Status 1</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Status_1_Date_Entered__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Entered_Status_2</name>
        <label>Entered Status 2</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Status_2_Date_Entered__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Converted</name>
        <label>Lead Converted</label>
        <locationX>842</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Date_Converted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Disqualified</name>
        <label>Lead Disqualified</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Date_Disqualified__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exited_Status_1</name>
        <label>Update Exited Status 1</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Lead_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_1_Date_Exited__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exited_Status_2</name>
        <label>Update Exited Status 2</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Lead_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_2_Date_Exited__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prior_Lead_Status</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW(),
ISCHANGED({!$Record.Status})
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
